<div [@heightSlide]="{value: ( isRequesting | async ) ? 'loading' : 'content', params: heightSlideParams }">
  <rip-loader [visible]="isRequesting | async" [altText]="'common.loader.alt-text' | translate">
  </rip-loader>
  <rip-alert id="no-open-cashtransactions-warning" type="info"
             *ngIf="( investmentProductEvents | async)  && !( investmentProductEvents | async ).length; else showCashTransactions"
             message="{{ 'customer-portfolio-transactions.cash-transaction-overview.warning.no-cash-events' | translate }}">
  </rip-alert>

    <div id="cash-transaction-overview-content" *ngIf="( investmentProductEvents | async ) && ( investmentProductEvents | async ).length && !(isRequesting | async)">
      <h2>{{ 'customer-portfolio-transactions.cash-transaction-overview.postedtransactions' | translate }}</h2>
      <table>
        <caption class="sr-only"
                 translate="customer-portfolio-transactions.cash-transaction-overview.postedtransactions"></caption>
        <thead>
        <tr>
          <th scope="col">{{ 'customer-portfolio-transactions.cash-transaction-overview.date' | translate }}</th>
          <th scope="col">{{ 'customer-portfolio-transactions.cash-transaction-overview.description' | translate }}</th>
          <th scope="col">{{ 'customer-portfolio-transactions.cash-transaction-overview.activity' | translate}}</th>
          <th scope="col">{{ 'customer-portfolio-transactions.cash-transaction-overview.status' | translate}}</th>
          <th scope="col" class="text-right">{{ 'customer-portfolio-transactions.cash-transaction-overview.netamount' | translate}}</th>
          <th scope="col" class="text-right">{{ 'customer-portfolio-transactions.cash-transaction-overview.cashbalance' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cashEvent of investmentProductEvents | async">
          <td class="date-preserve-width">
            <strong>{{ cashEvent.startDttm | date:'mediumDate':'':translateServ.currentLang }}</strong>
          </td>
          <td>
            <span *ngIf="cashEvent.investmentProduct?.description.length; else  showCashEventDescription">
              {{ cashEvent.investmentProduct.description | languageText:translateServ.currentLang }}
            </span>
            <ng-template #showCashEventDescription>
              <span>
                {{ cashEvent.description | languageText:translateServ.currentLang }}
              </span>
            </ng-template>
          </td>
          <td> {{ 'investment-product-event.activityTypeCd' 
            + (cashEvent.activityTypeCd? '.'+cashEvent.activityTypeCd :'')
            + (cashEvent.reasonCd? '.'+ cashEvent.reasonCd :'')
            + (cashEvent.eventToDocument && cashEvent.eventToDocument[0] ? '.'+cashEvent.eventToDocument[0].documentId:'')
            | translate

            }}</td>
          <td> {{ 'investment-product-event.statusCd.' + cashEvent.statusCd | translate }}</td>
          <td class="text-right">
            <strong *ngIf="cashEvent.eventAmt < 0; else showPositiveAmount">
              {{ cashEvent.eventAmt | currencyLocale:translateServ.currentLang }}
            </strong>
            <ng-template #showPositiveAmount>
              {{ cashEvent.eventAmt | currencyLocale:translateServ.currentLang }}
            </ng-template>
          </td>
          <td class="text-right">
            <strong *ngIf="cashEvent.balanceAmt < 0; else showPositiveBalance">
              {{ cashEvent.balanceAmt | currencyLocale:translateServ.currentLang }}
            </strong>
            <ng-template #showPositiveBalance>
              {{ cashEvent.balanceAmt | currencyLocale:translateServ.currentLang }}
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
